.container{
    background-color: #7B61FF;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    h1{
        margin: 0;
        color: #FFF;
        font-family: 'gill-sans-nova', sans-serif;
        font-weight: bold;
        font-size: 5em;
        text-align: center;
    }
    h2{
        color: #FFF;
        font-family: 'gill-sans-nova', sans-serif;
        font-size: 2.3em;
        margin: 3%;
    }
    h3{
        color: #FFF;
        font-family: 'gill-sans-nova', sans-serif;
        font-weight: normal;
    }
    button{
        width: 230px;
        height: 70px;
        border-radius: 100px;
        border: none;
        background-color: #FFF;
        color: #7B61FF;
        font-size: 1.7em;
        margin: 10px 0;
        transition: all 0.2s ease-in;
        font-family: 'gill-sans-nova', sans-serif;
        &:hover{
            width: 250px;
            height: 90px;
            margin: 0;
        }
    }
}