.container{
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
    padding: 2%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    overflow-y: scroll;
}
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1% 3%;
    width: 100%;

    button{
        width: 200px;
        height: 70px;
        border-radius: 100px;
        border: none;
        background-color: #7B61FF;
        color: #FFF;
        font-size: 1.7em;
    }
    .infosGenerales{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        h1, h3{
            font-weight: normal;
        }
        h3{
            font-size: 1.5
            1.7em;
        }
    }
}
.time{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 6%;
    h1{
        font-size: 7em;
        color: #7B61FF;
        margin: 10px;
    }
    h2{
        font-size: 3em;
        margin: 20px;
    }
    p{
        margin: 0;
        font-size: 1.8em;
    }
}


.students{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    // overflow-y: scroll;
    box-shadow: none;
}
.studentItem{
    width: 10%;
    height: 60px;
    background: rgba( 123, 97, 255, 0.8 );
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    p{
        margin:0;
        font-size: 1.2em;
    }
}