<div class="container">
    <header>
        <div class="infosGenerales">
            <!-- changer le H1 par la valeur de l'input select -->
            <h1>B1 Développeur Web</h1>
            <div class="nomPrenom">
                <h3>{{studentById.nom | uppercase}}</h3>
                <!-- changer le H3 par la valeur de l'input text 'prenom' -->
                <h3>{{studentById.prenom | titlecase}}</h3>
            </div>
            <!-- changer le H3 par la valeur de l'input text 'nom' -->
        </div>
        <button [routerLink]="['/']">Quitter</button>
    </header>
    <section class="time">
        <div>
            <p>Il est :</p>
            <h1>{{myDate | date:'mediumTime'}}</h1>
        </div>
        <div>
            <p>Il reste :</p>
            <h2>{{countDown | minuteSeconds}}</h2>
        </div>
    </section>
    <section class="students">
        <div *ngFor="let studentItem of dataStudents.reverse()" class="studentItem">
            <p>{{studentItem.nom | uppercase}}</p>
            <p>{{studentItem.prenom | titlecase}}</p>
        </div>
        
    </section>
    <!-- <app-end *ngIf="countDown <='1'"></app-end> -->
</div>
