<div class="container">
    <header>
        <div class="infosGenerales">
            <!-- changer le H1 par la valeur de l'input select -->
            <h1>B1 Développeur Web</h1>
            <div class="nomPrenom">
                <h3>Dupont
                </h3>
                <!-- changer le H3 par la valeur de l'input text 'prenom' -->
                <h3>Jean</h3>
            </div>
            <!-- changer le H3 par la valeur de l'input text 'nom' -->
        </div>
        <button>Quitter</button>
    </header>
    <section class="time">
        <div>
            <p>Il est :</p>
            <h1>11 : 50</h1>
        </div>
        <div>
            <p>Il reste :</p>
            <h2>00 : 10</h2>
        </div>
    </section>
    <section class="students">
        <div *ngFor="let studentItem of dataStudents.reverse()" class="studentItem">
            <p>{{studentItem[0].nom | uppercase}}</p>
            <p>{{studentItem[0].prenom | titlecase}}</p>
        </div>
        
    </section>
</div>
