<div class="container">
    <div class="purple">
        <h1>Pointer Class</h1>
    </div>
    <p class="change-to-admin" (click)="changeTo()">Espace Administration</p>
    <form>
        <h2>Identifiez-vous</h2>
        <div class="column">
            <label for="selectClass">Choisissez votre classe</label>
            <select name="selectClass" id="selectClass" [formControl]="select">
                <option value="selection">--Sélectionner votre classe--</option>
                <option value="B1-dev-web">B1 Dev Web</option>
                <option value="B1-cpd">B1 Chargé de Projet</option>
                <option value="B2-cpd">B2 Chargé de Projet</option>
            </select>
        </div>
        <div class="column">
            <label for="nom">Rentrez votre Nom</label>
            <input type="text" name="nom" placeholder="Nom" [formControl]="nom">
        </div>
        <div class="column">
            <label for="prenom">Rentrez votre Prénom</label>
            <input type="text" name="prenom" placeholder="Prénom" [formControl]="prenom">
        </div>
        <app-button-connexion (click)='postValue()'></app-button-connexion>
    </form>
</div>