<div class="container">
    <div class="purple">
        <img src="../../assets/img/Sans-titre---1.png" alt="">
    </div>
    <p class="change-to-admin" (click)="changeTo()">Espace Administration</p>
    <form>
        <h2>Identifiez-vous</h2>
        <div class="column">
            <mat-form-field appearance="outline">
                <mat-label>Choisissez votre classe</mat-label>
                <mat-select [formControl]="select" id="selectClass">
                  <mat-option *ngFor="let class of classes" [value]="class.value">
                      {{class.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

        </div>
        <div class="column">
            <label for="nom">Rentrez votre Nom</label>
            <input type="text" name="nom" placeholder="Nom" [formControl]="nom">
        </div>
        <div class="column">
            <label for="prenom">Rentrez votre Prénom</label>
            <input type="text" name="prenom" placeholder="Prénom" [formControl]="prenom">
        </div>
        <app-button-connexion (click)='postValue()'></app-button-connexion>
    </form>
</div>